# Created by venv; see https://docs.python.org/3/library/venv.html
# serve a comunicare con Git ed è come se gli stessimo dicendo di ignorare gli elementi elencati
.venv/
venv/
ENV/

.env

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db 
